*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(171, 204, 193);
}

.wrapper{
    width: 95%;
    margin: 0 auto;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 5fr;
    grid-template-rows:1fr;
    grid-template-areas:   "header header "
                           "aside main" 
}
header{
    grid-area: header;
}
aside{
    grid-area: aside;
}
.wrapper__content{
    grid-area: main;
    box-shadow: 1px 1px 3px rgb(78, 78, 78);
    border-radius: 10px;
    min-height:80vh;
}